<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DENTAI</title>
    <style>
        /* Center-align content */
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: black; /* Set background color to black */
            color: white; /* Set text color to white */
        }
    </style>
</head>
<body>
   <h1>DENTAI</h1>
   <h2>Pornnakanok</h2>
   <h3>{{name}}</h3>
</body>
</html>
